/*
*	Author: Luis Antonio Sánchez
*	Version: 1.0
*	Date: 04/21/2014
*	Project: MentorcliQ
*/
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bolder; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: lighter; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../assets/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../assets/fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: lighter; }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../assets/fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 300; }

a.button {
  border-radius: 8px;
  display: inline-block;
  font-family: "Roboto";
  font-size: 12pt;
  font-weight: 500;
  padding: 3px 15px 5px;
  margin: 0.65em 0em;
  text-decoration: none; }

a.button:hover {
  opacity: 0.75; }

body {
  margin: 0px;
  padding: 0px; }

footer {
  margin-top: 1em;
  padding: 1em 0em !important; }
  footer img {
    width: 170px; }

h1 {
  font-family: "RobotoSlab";
  font-size: 39px;
  font-weight: bold; }

h2 {
  font-family: "RobotoSlab";
  font-size: 24px;
  font-weight: bold; }

h3 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500; }

header {
  border-bottom: solid #382f5b 10px; }

p {
  border-left: 2px solid #dadada;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px; }

section {
  margin: 1em 0; }

#description {
  height: 250px;
  max-height: 250px;
  margin-bottom: 1.25em; }
  #description p {
    width: 82%; }
  #description h3 {
    width: 60%; }
  #description a.button {
    position: absolute;
    bottom: 10%;
    right: 10%; }

#features h1, #features h2, #features h3 {
  font-family: "RobotoSlab";
  margin-bottom: 1em; }
#features img {
  display: inline-block;
  margin: 0% 5%;
  max-width: 90px;
  vertical-align: top;
  width: 40%; }
#features p {
  font-family: "Roboto";
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  width: 50%; }
#features .feature-description {
  margin: 1rem 0rem; }

#global-navigation ul {
  color: #382f5b;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  display: none;
  list-style: none;
  margin: 3rem 0px 0px;
  padding: 0px;
  text-align: center;
  width: 100%; }
  #global-navigation ul li {
    display: inline-block;
    width: 30%; }
    #global-navigation ul li a {
      color: #382f5b;
      display: inline-block;
      padding-bottom: 4px;
      text-decoration: none; }
    #global-navigation ul li a:hover {
      border-bottom: 2px solid #382f5b; }
    #global-navigation ul li a.selected {
      border-bottom: 2px solid #382f5b; }

#lifecycle {
  height: 250px;
  max-height: 250px; }
  #lifecycle a {
    text-decoration: none; }
  #lifecycle h2 {
    margin-bottom: 1rem; }
  #lifecycle p {
    padding-left: 10px; }

#accomplish {
  height: 250px;
  max-height: 250px;
  font-size: 0px; }
  #accomplish .accomplish-container {
    width: 100%; }
    #accomplish .accomplish-container .accomplish-item-container {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      text-align: right; }
      #accomplish .accomplish-container .accomplish-item-container .accomplish-item {
        width: 127px;
        height: 127px;
        background-color: #b5b5b5;
        border-radius: 6px;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
        text-align: center;
        color: #382f5b; }
        #accomplish .accomplish-container .accomplish-item-container .accomplish-item img {
          width: 80px;
          margin-top: 10px; }

#logo {
  margin: 1em 0; }

#process img {
  display: block;
  margin: 20px auto 0px;
  max-width: 250px;
  width: 100%; }

#process:hover {
  opacity: 0.75; }

#social-media {
  height: 250px;
  max-height: 250px; }
  #social-media h1 {
    margin-bottom: 1rem; }
  #social-media h3 {
    margin-bottom: 1rem; }
  #social-media a.button {
    margin-bottom: 1rem; }
  #social-media .icons {
    margin-top: 0px;
    padding: 10px; }
    #social-media .icons a {
      display: inline-block;
      height: 40px;
      margin: 0px 15px;
      width: 40px; }
    #social-media .icons a.li {
      background: transparent url(../assets/images/img-icon-li.png) no-repeat;
      background-size: 40px 40px; }
    #social-media .icons a.fb {
      background: transparent url(../assets/images/img-icon-fb.png) no-repeat;
      background-size: 40px 40px; }
    #social-media .icons a.tw {
      background: transparent url(../assets/images/img-icon-tw.png) no-repeat;
      background-size: 40px 40px; }
    #social-media .icons a.li:hover {
      background: transparent url(../assets/images/img-icon-hover-li.png) no-repeat;
      background-size: 40px 40px; }
    #social-media .icons a.fb:hover {
      background: transparent url(../assets/images/img-icon-hover-fb.png) no-repeat;
      background-size: 40px 40px; }
    #social-media .icons a.tw:hover {
      background: transparent url(../assets/images/img-icon-hover-tw.png) no-repeat;
      background-size: 40px 40px; }

.box {
  margin-bottom: 1.25rem;
  padding: 1em; }
  .box h1, .box h2, .box h3, .box p {
    margin: 0px;
    padding: 0px; }

.box-purple {
  background-color: #382f5b; }

.box-gray {
  background-color: #dadada; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.slider {
  position: relative;
  margin-bottom: 1.25em; }
  .slider .slider-header {
    height: 154px;
    position: absolute;
    bottom: 10px;
    left: 40px;
    width: 80%; }
    .slider .slider-header h2 {
      border-bottom: 1px solid #382f5b;
      font-family: "RobotoSlab";
      font-size: 29px;
      font-weight: normal;
      margin: 2px 0px 10px; }
    .slider .slider-header p {
      font-family: "RobotoSlab";
      font-weight: normal;
      border-left: none;
      margin: 0px;
      padding: 0px; }

.sub-text {
  color: black;
  font-size: 12pt; }

.text-align-center {
  text-align: center; }

.text-align-left {
  text-align: left; }

.text-align-justify {
  text-align: justify; }

.text-align-right {
  text-align: right; }

.text-black {
  color: black; }

.text-fuchsia {
  color: #b1489e; }

.text-gray {
  color: #dadada; }

.text-purple {
  color: #382f5b; }

.text-white {
  color: white; }

@media only screen and (min-width: 40.063em) {
  #global-navigation ul {
    display: block; }

  .slider {
    position: relative;
    margin-bottom: 15px; }
    .slider .slider-header {
      position: absolute;
      bottom: 30px;
      left: 60px;
      width: 400px; }
      .slider .slider-header h2 {
        border-bottom: 1px solid #382f5b;
        font-family: "RobotoSlab";
        font-size: 2.4375em;
        font-weight: normal;
        margin: 2px 0px 10px; }
      .slider .slider-header p {
        font-family: "RobotoSlab";
        font-size: 1.125em;
        font-weight: normal;
        border-left: none;
        margin: 0px;
        padding: 0px; } }
@media only screen and (min-width: 64.063em) {
  #global-navigation ul {
    display: block; }

  .slider {
    position: relative;
    margin-bottom: 1.25em; }
    .slider .slider-header {
      position: absolute;
      bottom: 30px;
      left: 60px;
      width: 340px; }
      .slider .slider-header h2 {
        border-bottom: 1px solid #382f5b;
        font-family: "RobotoSlab";
        font-size: 2.4375em;
        font-weight: normal;
        margin: 2px 0px 10px; }
      .slider .slider-header p {
        font-family: "RobotoSlab";
        font-size: 1.125em;
        font-weight: normal;
        border-left: none;
        margin: 0px;
        padding: 0px; } }
